{% extends 'app.html.twig' %}

{% block nav %}<twig:Navbar active="profile" />{% endblock %}
{% block title %}個人資料{% endblock %}

{% block app %}
    <div class="profile d-flex row">
        <turbo-frame id="app-profile-information" class="profile__information col gr-5">
            <h2 class="mb-3">
                {{ user.name }}

                {% if 'ROLE_ADMIN' in user.roles %}
                    <small class="text-muted">管理員</small>
                {% endif %}
            </h2>

            <ul class="list-group">
                <li class="list-group-item">
                    <i class="bi bi-people-fill"></i>
                    參照組別：
                    {% if user.group %}
                       {{ user.group.name }}
                    {% else %}
                        <span class="text-muted">⚠️ 未分配</span>
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-envelope-at-fill"></i>
                    電子信箱：{{ user.email }}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-person-fill"></i>
                    帳號建立時間：{{ user.createdAt.format('Y-m-d H:i:s') }}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-award-fill"></i>
                    解題次數：{{ user.solutionEvents.count }}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-eye-fill"></i>
                    觀看影片次數：{{ user.solutionVideoEvents.count }}
                </li>
                <li class="list-group-item">
                    <i class="bi bi-box-arrow-in-right"></i>
                    登入次數：{{ user.loginEvents.count }}
                </li>
            </ul>
        </turbo-frame>

        <section class="profile__update col">
            <h2 class="mb-4">更新帳號資訊</h2>

            <div class="vstack gap-4">
                <turbo-frame id="app-profile-password-update" src="{{ path('app_profile_edit_password') }}">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">正在載入密碼編輯區⋯⋯</span>
                    </div>
                </turbo-frame>

                <turbo-frame id="app-profile-username-update" src="{{ path('app_profile_edit_username') }}">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">正在載入使用者名稱編輯區⋯⋯</span>
                    </div>
                </turbo-frame>
            </div>
        </section>
    </div>
{% endblock %}
