{% extends 'app.html.twig' %}

{% block nav %}
    <twig:Navbar active="complementary"/>{% endblock %}
{% block title %}補充資料{% endblock %}

{% block app %}
    <main class="app-complementary row row-cols-1 row-cols-md-2">
        <section class="app-complementary__schema mb-5 col">
            <h2 class="mb-3">Schema SQLs</h2>

            <div class="row row-cols-1 row-cols-xl-2 g-4">
                {% for schema in schemas %}
                    <div class="col">
                        <div class="app-complementary__schema__card card">
                            {% if schema.picture %}
                                <img src="{{ schema.picture }}" class="card-img-top object-fit-cover w-100"
                                     alt="{{ schema.id }} 的結構圖">
                            {% endif %}

                            <div class="card-body">
                                <h5 class="card-title">{{ schema.id }}</h5>
                                <div class="card-text">
                                    {{ schema.description|striptags }}

                                    <p class="text-secondary">適用題目：{{ schema.questions
                                        |sort
                                        |map((question) => "\##{question.id}")
                                        |join('、')
                                        ?: '無' }}</p>
                                </div>
                                <a href="{{ path('app_complementary_schema_retrieve', {schema: schema}) }}"
                                   class="card-link">下載 SQL 檔案</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>

        <section class="app-complementary__scoring_rules mb-5 col">
            <h2 class="mb-3">計分規則</h2>

            <ul>
                <li>每個人有 {{ constant('\\App\\Service\\PointCalculationService::base') }} 基本分。</li>
                <li>
                    解一題根據難度會加分，注意重複解題分數不會累計。
                    <ul>
                        <li>簡單題：{{ constant('\\App\\Service\\PointCalculationService::solutionEventEasyPoint') }} 分</li>
                        <li>中等題：{{ constant('\\App\\Service\\PointCalculationService::solutionEventMediumPoint') }} 分</li>
                        <li>困難題：{{ constant('\\App\\Service\\PointCalculationService::solutionEventHardPoint') }} 分</li>
                    </ul>
                </li>
                <li>
                    如果是第一個解出題目的人，會再加 {{ constant('\\App\\Service\\PointCalculationService::firstSolverPoint') }} 分。
                </li>
                <li>
                    打開解答影片根據題型會扣分。注意同題目的解答影片不會重複扣分。
                    <ul>
                        <li>簡單題：{{ constant('\\App\\Service\\PointCalculationService::solutionVideoEventEasyPoint') }} 分</li>
                        <li>中等題：{{ constant('\\App\\Service\\PointCalculationService::solutionVideoEventMediumPoint') }} 分</li>
                        <li>困難題：{{ constant('\\App\\Service\\PointCalculationService::solutionVideoEventHardPoint') }} 分</li>
                    </ul>
                </li>
                <li>
                    打開提示會扣 {{ constant('\\App\\Service\\PointCalculationService::hintOpenEventPoint') }} 分。重複打開提示會重複扣分。
                </li>
                <li>
                    如果當周做題未達 {{ constant('\\App\\Service\\PointCalculationService::weeklyMinSolvedQuestionPoint') }}
                    題，少的每題扣 {{ constant('\\App\\Service\\PointCalculationService::weeklyPerQuestionXpPoint') }} 分。
                </li>
            </ul>
        </section>
    </main>
{% endblock %}
