{% extends 'app.html.twig' %}

{# 題目描述字數上限 #}
{% set max = 50 %}

{% block nav %}
    <twig:Navbar active="exercises"/>{% endblock %}
{% block title %}練習題目{% endblock %}

{% block app %}
    <section class="header d-flex justify-content-between flex-column flex-md-row mb-4 gap-2">
        <h1>題庫一覽</h1>

        <div class="d-flex gap-1">
            <form action="{{ path('app_exercises') }}" method="GET">
                <input type="search" name="q" value="{{ app.request.get('q') }}" class="form-control" placeholder="搜尋題目……" aria-label="搜尋題目">
            </form>
        </div>
    </section>

    <section class="questions row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-4">
        {% for question in questions %}
            <div class="col">
                <div class="question-card">
                    <div class="question-card__header">
                        {{ question.type }}・{{ question.difficulty|trans }}
                    </div>
                    <div class="question-card__main">
                        <div class="question-card__content">
                            <h5 class="card-title">{{ question.title }}</h5>
                            <p class="card-text">{{ question.description | striptags }}</p>
                        </div>

                        <div class="question-card__operations">
                            <a role="button" class="btn btn-primary" href="{{ path('app_sql_execute') }}">進行測驗</a>
                        </div>

                        <div class="question-card__background">
                            #{{ question.id }}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}
