{% extends 'base.html.twig' %}

{% block title %}登入{% endblock %}

{% block body %}
    <main class="app-login">
        <header class="app-login__header d-flex justify-content-between align-items-end">
            <h1 class="mb-4" aria-label="資料庫練功房 - 登入">
                <img src="{{ asset('branding.svg') }}" alt="資料庫練功房" height="72px" />
            </h1>

            <p class="opacity-75 small fst-italic d-none d-md-block">
                雙雙瓦雀行書案，點點楊花入硯池<br>
                閒坐小窗學SQL，不知春去幾多時
            </p>
        </header>

        <form method="post" class="app-login__form">
            {% if error %}
                <div class="app-login__form__error alert alert-danger mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="app-login__form__authed alert alert-info mb-3">
                    哈囉 {{ app.user.name }}，看起來您已經登入過了！或許你想要 <a href="{{ path('app_home') }}">回到主程式</a>？
                </div>
            {% endif %}

            <section class="app-login__form__login-form d-flex flex-column gap-2 mb-5">
                <div class="form-floating">
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control"
                           autocomplete="email" required autofocus placeholder="yourusername@nkust.edu.tw">
                    <label for="username">帳號</label>
                </div>

                <div class="form-floating">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password"
                           required placeholder="yourpassword">
                    <label for="password">密碼</label>
                </div>

                <div class="form-check mt-1">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        記住帳密
                    </label>
                </div>
            </section>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="app-login__form__login-form__operation d-flex flex-column flex-md-row gap-3 justify-content-md-between align-items-md-end">
                <button class="btn btn-primary" type="submit">
                    登入
                </button>

                <ul class="app-login__form__login-form__operation__credit credit">
                    <li>
                        <ul class="credit__links">
                            <li>
                                <a href="https://github.com/database-playground/app-sf" target="_blank">GitHub</a>
                            </li>
                            <li>
                                <a href="https://uptime.dbplay.pan93.com">服務狀態</a>
                            </li>
                            <li>
                                <a href="{{ url('app_feedback', {url: app.request.uri}) }}" target="_blank">意見回饋</a>
                            </li>
                        </ul>
                    </li>
                    <li>Designed by <a href="https://eclab.nkust.edu.tw/" target="_blank">傅家子弟電商實驗室</a></li>
                </ul>
            </div>
        </form>
    </main>
{% endblock %}
