{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}
    <main class="w-40 container-sm v-center">
        <div class="d-flex justify-content-between align-items-end">
            <h1 class="mb-4" aria-label="資料庫練功房 - 登入">
                <img src="{{ asset('branding.svg') }}" alt="資料庫練功房" height="72px" />
            </h1>

            <p class="opacity-75 small fst-italic">
                雙雙瓦雀行書案，點點楊花入硯池<br>
                閒坐小窗學SQL，不知春去幾多時
            </p>
        </div>

        <form method="post">
            {% if error %}
                <div class="alert alert-danger mb-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="alert alert-info mb-3">
                    哈囉 {{ app.user.name }}，看起來您已經登入過了！或許你想要 <a href="{{ path('app_home') }}">回到主程式</a>？
                </div>
            {% endif %}

            <section class="d-flex flex-column gap-1 mb-5">
                <div class="form-floating">
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control"
                           autocomplete="email" required autofocus placeholder="yourusername@nkust.edu.tw">
                    <label for="username">帳號</label>
                </div>

                <div class="form-floating">
                    <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password"
                           required placeholder="yourpassword">
                    <label for="password">密碼</label>
                </div>

                <div class="form-check mt-1">
                    <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                    <label class="form-check-label" for="_remember_me">
                        記住帳密
                    </label>
                </div>
            </section>

            <input type="hidden" name="_csrf_token"
                   value="{{ csrf_token('authenticate') }}"
            >

            <div class="d-flex gap-3 justify-content-between align-items-end">
                <button class="btn btn-primary" type="submit">
                    登入
                </button>

                <ul class="credit">
                    <li>GitHub: wip</li>
                    <li>Designed by <a href="https://eclab.nkust.edu.tw/">傅家子弟電商實驗室</a></li>
                </ul>

{#                <button class="btn btn-light" type="button">#}
{#                    忘記密碼 (TODO)#}
{#                </button>#}
            </div>
        </form>
    </main>
{% endblock %}
