{% set previewCommentCharLimit = 30 %}
{% set plainContent = comment.content|striptags %}

<div{{ attributes.defaults({class: 'app-challenge-comment'}|merge(stimulus_controller('challenge-comment'))) }}>
    {# modals #}
    {% if this.owned %}
        <div
                class="app-challenge-comment__deletion_confirm modal fade"
                tabindex="-1"
                aria-label="刪除留言"
                aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">刪除留言</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="關閉"></button>
                    </div>
                    <div class="modal-body">
                        確定要移除「{{
                        plainContent|length > previewCommentCharLimit
                        ? plainContent|slice(0, previewCommentCharLimit) ~ '……'
                        : plainContent
                        }}」這則留言嗎？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button
                                type="button"
                                class="btn btn-danger"
                                {{ stimulus_action('challenge-comment', 'delete') }}
                        >刪除</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="app-challenge-comment__main mb-2 opacity-0">
        <div class="d-flex justify-content-between mb-1">
            <div>
                <strong>{{ comment.commenter.name }}</strong>
                {% if this.owned %}
                    <span class="text-muted">(您)</span>
                {% endif %}
            </div>
            <div>{{ comment.createdAt|date('Y-m-d') }}</div>
        </div>

        <div class="d-flex justify-content-between align-content-center">
            <div>
                {% if plainContent == '' %}
                    <span class="text-muted">(redacted)</span>
                {% else %}
                    {{ plainContent }}
                {% endif %}
            </div>
            <div>
                {% if this.owned %}
                    <button
                            class="btn btn-light btn-sm"
                            {{ stimulus_action('challenge-comment', 'confirm') }}
                    >
                        <i class="bi bi-trash-fill" aria-label="刪除"></i>
                    </button>
                {% else %}
                    <button
                            class="btn btn-light btn-sm"
                            data-action="live#action"
                            data-live-action-param="likeOrDislike"
                    >
                        {% if this.liked %}
                            <i class="bi bi-hand-thumbs-up-fill" aria-label="已經按讚"></i>
                        {% else %}
                            <i class="bi bi-hand-thumbs-up" aria-label="按讚"></i>
                        {% endif %}

                        <span>{{ this.likes }}</span>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
