<section {{ attributes.defaults({class: 'challenge-description'}) }}>
    <div class="mb-4">
        {{ question.description|raw }}
    </div>

    <twig:Challenge:ColumnsOfAnswer :question="question" loading="defer" />

    {% if question.schema %}
        <p><strong>Schema ({{ question.schema.id }}): </strong>
            {% if question.schema.description %}
                {{ question.schema.description|striptags|trim('。.') }}。
            {% endif %}
            可以從「<a href="{{ path('app_complementary') }}">補充資料</a>」中下載。
        </p>

        {% if question.schema.picture %}
        <figure class="figure">
            <img src="{{ question.schema.picture }}" class="figure-img img-fluid rounded"
                 alt="Schema {{ question.schema.id }} 的結構圖">
            <figcaption class="figure-caption text-center">{{ question.schema.id }} 的結構圖</figcaption>
        </figure>
        {% endif %}
    {% endif %}
</section>
