<section {{ attributes.defaults({ class: "challenge-description" }) }}>
    <div class="mb-4">
        {{ question.description|raw }}
    </div>

    <p>
        <strong>輸出格式：</strong>欄位順序分別為：<code>{{
            this.columnsOfAnswer|joinToQuoted
        }}</code>。
    </p>

    {% if question.schema %}
    <p>
        <strong>Schema：</strong>本次使用的 <code>{{ question.schema.id }}</code> schema，可以從「<a
                href="{{ path("app_complementary") }}">補充資料</a>」中下載。<br>

        {% if question.schema.description %}
            {{ question.schema.description|raw }}
        {% else %}
            <span class="text-muted">除此之外這個 Schema 沒有額外說明。</span>
        {% endif %}
    </p>
    {% endif %}
</section>
