<div{{ attributes.defaults({class: 'app-challenge-header bg-light mx-2 my-2'}) }}>
    <h2 class="app-challenge-header__title">#{{ question.id }} {{ question.title }}</h2>
    <ul class="app-challenge-header__lists">
        <li class="app-challenge-header__lists__difficulty">{{ question.difficulty|trans }}</li>
        <li class="app-challenge-header__lists__type">{{ question.type }}</li>
        <li class="app-challenge-header__lists__pass_rate">
            通過率
            {% set passRate = this.passRate %}
            <a class="app-challenge-header__lists__pass_rate__value" href="#" rel="help" data-bs-toggle="tooltip"
               data-bs-placement="bottom"
               data-bs-title="{{ passRate.total }} 次挑戰中有 {{ passRate.passed }} 次成功">
                {{ passRate.passRate }}%
            </a>
        </li>
    </ul>

    <div class="d-flex justify-content-between align-items-end mt-1">
        {% set solveState = this.solveState %}
        <div class="app-challenge-header__status" data-status="{{ solveState.value }}">
            {{ solveState|trans }}
        </div>
        <div class="app-challenge-header__actions">
            {% set previousPage = this.previousPage %}
            {% set nextPage = this.nextPage %}

            <div class="btn-group" role="group" aria-label="題目切換">
                <a
                        class="btn btn-secondary {{ not previousPage ? 'disabled' : '' }}"
                        role="button"
                        href="{{ previousPage ? path('app_challenge', {id: previousPage}) : '#' }}"
                        aria-label="上一題"
                >
                    <i class="bi bi-arrow-left"></i>
                </a>

                <a
                        class="btn btn-secondary {{ not nextPage ? 'disabled' : '' }}"
                        role="button"
                        href="{{ nextPage ? path('app_challenge', {id: nextPage}) : '#' }}"
                        aria-label="下一題"
                >
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
