<div{{ attributes.defaults({ class: "challenge-header bg-light mx-2 my-2" }) }}>
    <h2 class="challenge-header__title">#{{ question.id }} {{ question.title }}</h2>
    <ul class="challenge-header__lists">
        <li class="challenge-header__lists__difficulty">{{ question.difficulty|trans }}</li>
        <li class="challenge-header__lists__type">{{ question.type }}</li>
    </ul>

    <div class="d-flex justify-content-between align-items-end mt-4">
        <div class="challenge-header__status">
            尚未作答
        </div>
        <div class="challenge-header__actions">
            <div class="btn-group" role="group" aria-label="題目切換">
                {% set previousDisabled = question.id <= 1 ? "disabled" : "" %}
                {% set nextDisabled = question.id >= limit ? "disabled" : "" %}

                <a class="btn btn-secondary {{ previousDisabled }}" role="button" href="{{ path("app_challenge", { id: question.id - 1 }) }}" aria-label="上一題">
                    <i class="bi bi-arrow-left"></i>
                </a>
                <a class="btn btn-secondary {{ nextDisabled }}" href="{{ path("app_challenge", { id: question.id + 1 }) }}" aria-label="下一題">
                    <i class="bi bi-arrow-right"></i>
                    下一題
                </a>
            </div>
        </div>
    </div>
</div>
