<div{{ attributes }}>
    <div class="question-card">
        <div class="question-card__header">
            {{ question.type }}・{{ question.difficulty|trans }}
        </div>
        <div class="question-card__main">
            <div class="question-card__content">
                <h5 class="card-title">{{ question.title }}</h5>
                <p class="card-text">{{ question.description|striptags }}</p>
            </div>

            <div class="question-card__operations">
                <a role="button" class="btn btn-primary" href="{{ path('app_challenge', {id: question.id}) }}">進行測驗</a>
                <div class="question-card__pass-rate" data-pass-rate="{{ this.passRateLevel }}">通過率 {{ question.passRate }}%</div>
            </div>

            <div class="question-card__background">
                #{{ question.id }}
            </div>
        </div>
    </div>
</div>
