<section{{ attributes }}>
    <section class="d-flex justify-content-between flex-column flex-md-row mb-4 gap-2">
        <h1>{{ title }}</h1>

        <div class="d-flex gap-1">
            <form action="{{ path('app_exercises') }}" method="GET">
                <input type="search" data-model="debounce(100)|query" class="form-control" placeholder="搜尋題目……"
                       aria-label="搜尋題目">
            </form>
        </div>
    </section>

    <section {{ attributes.defaults({ class: "questions row row-cols-1 row-cols-md-2 row-cols-lg-4 gap-4" }) }}>
        {% for item in this.questions %}
            <div class="col">
                <twig:Questions:Card :question="item"></twig:Questions:Card>
            </div>
        {% endfor %}
    </section>

    <nav aria-label="頁面導航" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link"
                   data-action="live#action"
                   data-live-action-param="previousPage"
                   aria-label="上一頁">
                    <span class="user-select-none">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <span class="page-link active">
                    {{ currentPage }}
                </span>
            </li>
            <li class="page-item">
                <a
                    class="page-link"
                    data-action="live#action"
                    data-live-action-param="nextPage"
                    aria-label="下一頁">
                    <span class="user-select-none" aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</section>
