<div{{ attributes }}>
    <table class="table table-light table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            {% for cell in this.result.columns %}
                <th scope="col">{{ cell }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for column in this.paginatedRows %}
            <tr>
                <th scope="row">{{ this.currentOffset + loop.index }}</th>
                {% for cell in column %}
                    <td>{{ cell }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ include('components/Challenge/Tabs/Pagination.html.twig') }}
</div>
