<div{{ attributes }}>
    {% if hint %}
        {% if type == 'informative' %}
            <div class="alert alert-warning" role="alert">
                {{ hint }}
            </div>
        {% elseif type == 'hint' %}
            <div class="alert alert-info" role="alert">
                <h4 class="alert-heading">提示</h4>
                <p>{{ hint|markdown_to_html }}</p>
            </div>
        {% else %}
            <div class="alert alert-danger" role="alert">
                <p>發現一個未知類型的提示（{{ type }}：{{ hint }}）</p>
            </div>
        {% endif %}
    {% endif %}
</div>
